@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "So long gay bowser";
}

<style>
	.content {
		background-image: url('assets/bowser-spinning.gif');
		background-repeat: repeat;
		height: 100vh;
	}
</style>

<div class="loading">
	<span class="play-button hidden" onclick="start()">▶</span>
	<span class="loading-indicator"></span>
</div>

<div class="content hidden">
	<div class="wavetext">
		<span>SO LONG GAY BOWSER</span>
	</div>
</div>

@section Scripts {
	<script src="~/js/midi.js"></script>
		<script src="~/js/loadingIndicator.js"></script>
		<script src="~/js/preloader.js"></script>
		<script src="~/js/preload.js"></script>
		<script src="~/js/touchscreenDetector.js"></script>
		<script src="~/js/solonggaybowser.js"></script>
	
	@*<script src="~/js/preload.js"></script>
	<script src="~/js/midi.js"></script>
	<script src="~/js/bundle.js"></script>*@
}